{% extends "polls/base.html" %}

{% block content %}
<h1>{{ poll.subject }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:answer' poll.id %}" method="post">
{% csrf_token %}
  <fieldset>
    <legend>Παρακαλούμε απαντήστε στις παρακάτω ερωτήσεις. Οι
    απαντήσεις σας θα παραμείνουν ανώνυμες.
    </legend>
    {% for field in form %}
      <label>{{ field.label }}</label>
      {% for choice in field %}
        {{ choice }}
      {% endfor %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Υποβολή</button>
  </fieldset>
</form>

{% endblock %}
