{% extends "polls/base.html" %}

{% load staticfiles %}

{% block content %}
<h1>{{ poll.subject }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:sign' poll.id %}" method="post">
{% csrf_token %}
  <fieldset>
    <legend>
      Επιθυμείτε να προσυπογράψετε επωνύμως το παρακάτω
      κείμενο, που συντάχθηκε από την Εθνική Επιτροπή για τον Έλεγχο του
      Καπνίσματος;
    </legend>

    <blockquote class="declaration">
      <p>
        Το παθητικό κάπνισμα στους κλειστούς δημόσιους χώρους είναι μια
        εκτεταμένη μορφή βίας, που στρέφεται κυρίως εναντίον μικρών
        παιδιών και αδύναμων πληθυσμιακών ομάδων, όπως είναι οι πάσχοντες
        από αναπνευστικά ή καρδιαγγειακά νοσήματα.
      </p>
      <p>
        Ιδιαίτερο είναι το πρόβλημα των εγκύων γυναικών και των
        εργαζομένων στους χώρους αυτούς, που χωρίς δυνατότητες άμυνας
        υποβάλλονται σε υποχρεωτικό κάπνισμα και υφίστανται βαριές
        συνέπειες σε ατομικό, οικογενειακό και κοινωνικό επίπεδο.
      </p>
      <p>
        Η κατάσταση στην Ελλάδα εμφανίζεται ανεξέλεγκτη, καθώς οι
        νόμοι του ίδιου μας του κράτους
        (<a href="{% static "polls/pdf/3730.pdf" %}">Ν. 3730/08</a>
        και
        <a href="{% static "polls/pdf/3868.pdf" %}">Ν.3868/10</a>) δεν
        εφαρμόζονται και οι Διεθνείς Συμφωνίες (
        <a href="http://www.who.int/fctc/cop/art%208%20guidelines_english.pdf">
          World Health Organisation, Framework Convention on Tobacco
          Control, Article 8, Guidelines on Protection from Exposure
          to Tobacco Smoke</a>) καταπατούνται, προκειμένου να μη
          θιγούν συγκεκριμένα οικονομικά συμφέροντα.
      </p>
      <p>
        <strong>
          Εμείς, ως ακαδημαϊκοί πολίτες της χώρας αυτής, παρεμβαίνουμε
          αποφασιστικά και ζητούμε από την Ευρωπαϊκή Επιτροπή και από το
          <a href="http://www.ensp.org/">European Network for Smoking
          and Tobacco Prevention (ENSP)</a> την ανάληψη πρωτοβουλίας
          προς κάθε κατεύθυνση για την ανάδειξη και επίσημη αναγνώριση
          του παθητικού καπνίσματος ως μείζονος παγκόσμιου θέματος
          παραβίασης ανθρωπίνων δικαιωμάτων υγείας, εργασίας και
          προστασίας της γυναίκας και του παιδιού.
        </strong>
      </p>
    </blockquote>
    
    <p class="lead">
      <div class="control-group">
        <input type="text" class="input-small" placeholder="Όνομα">
        <input type="text" class="input-small" placeholder="Επώνυμο">
      </div>
      </p>
    <button type="submit" class="btn btn-primary">Προσυπογράφω</button>
    <button type="submit" class="btn">Όχι</button>
  </fieldset>
</form>

{% endblock %}
